.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  &__narrow {
    max-width: 470px;
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--attribute {
    font-size: .8rem;
    text-align: center;

    @mixin atMedium {
      float: right;
      padding-right: 30px;
    }
  }

  &--attribute-banner {
    position: relative;
  }

  &--attribute-overview {
    color: white;
    position: absolute;
    margin-top: -25px;
    text-align: center;
    width: 100%;
    padding: 0 auto;
    font-size: .6rem;

      @mixin atMedium {
      width: auto;
      right: 3%;
      font-size: .8rem;
      }
    }

  &--attribute-testimonials {
    color: $mainBlue;
    font-size: .8rem;
  }

  &--attribute-testimonials-picture {

    color: white;
    position: relative;
    text-align: center;
    font-size: .8rem;

    @mixin atMedium {
      color: $mainOrange;
    position: relative;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
    }
  }

  &--attribute-picture {
    position: absolute;
    font-size: .8rem;
    width: 100%;
    text-align: center;
    padding: 0 auto;
    bottom: 0;
    color: $mainOrange;

    @mixin atMedium {
      width: auto;
      right: 30px;
      color: $mainBlue;
    }

  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }
}
